.logo-1 {
    width: 150px;
}

.logo-2 {
    width: 150px;
}

.welcoming-window-text-header {
    font-size: 2.9rem;
}

.welcoming-window-text-regular{
    font-size: 2.2rem;
}

.welcoming-window-button{
    cursor: default;
}