.logo-1 {
    width: 150px;
}

.logo-2 {
    width: 150px;
}

.welcoming-window-text-header {
    font-size: 2.9rem;
}

.welcoming-window-text-regular{
    font-size: 2.2rem;
}

.welcoming-window-button{
    cursor: default;
}

.poster {
    margin-top: 0px;
    border-radius: 0px 0px 5px 5px;
}

.event-card-time {
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;

}

.event-card-description {
    padding: 0 5px;
    display: flex;
    align-items: center;
    width: 55%;
    text-align: left;
}

.event-card-place {
    padding: 0 5px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 30%;
}