* {
    list-style-type: none;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.root-welcoming-window {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}


.welcoming-window {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: rgba(1, 4, 12, 0.712);
}


.welcoming-window-logos-holder {
    position: absolute;
    top: 10%;
    left: 49%;
    transform: translate(-50%, 0%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-1 {
    width: 200px;
}

.gap-between-logos {
    width: 20px;
}

.logo-2 {
    width: 200px;
}


.welcoming-window-image {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

.welcoming-window-text-decor{
    width: 120px;
}

.greeting-welcoming-window-text-decor {
    margin-top: 150px;
    width: 120px;
}

.welcoming-window-text{
    color: white;
    text-align: center;
    /*text-shadow: 1px 0px 3px rgba(145, 150, 150, 1);*/
}

.greeting-welcoming-window-text {
    margin-top: 30px;
    color: white;
}

.greeting-welcoming-window-text-header {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 2rem;
    line-height: 4rem;
}

.greeting-welcoming-window-text-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.greeting-welcoming-window-text-footer p {
    font-family: 'Caveat', cursive;
    font-size: 2.2rem;
    line-height: 2.5rem;
    text-align: right;
}

.welcoming-window-text-header {
    font-family: 'Lobster', cursive;
    font-size: 3.8rem;
}

.welcoming-window-text-regular{
    font-family: 'Caveat', cursive;
    font-size: 2.5rem;
}

.welcoming-window-button-holder{
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;
    width: 75px;
    height: 75px;
    border: 2px solid white;
    border-radius: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.greeting-welcoming-window-button-holder {
    border: 2px solid white;
    border-radius: 75px;
    margin-left: 15px;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.greeting-welcoming-window-button {
    background: none;
    border-radius: 50px;
    outline: none;
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.welcoming-window-button {
    background: none;
    border-radius: 50px;
    outline: none;
    width: 65px;
    height: 65px;
    cursor: pointer;
}



/* .welcoming-window-button-holder:active {
    transform: scale(0.95) translate(-52%, 0%);
} */

.greeting-welcoming-window-button:active {
    transform: scale(0.90);
}

.welcoming-window-button:active {
    transform: scale(0.90);
}

.welcoming-window-button:hover {

}

.welcoming-window-button:focus {

}

.poster-holder {
    min-width: 100vw;
    background: black;
    background-image: url('/img/poster-background.png');
    background-color: rgba(66, 124, 199, 0.877);
    background-size: 200px;
}

.poster {
    background-color: white;
    margin-bottom: 100px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px 10px 30px 10px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.poster-headers {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.event-holder {

}

.event-day {
   text-align: center; 
   margin-top: 25px;
}

.event-card {
    margin-top: 10px;
    display: flex;
    background-color: rgb(240, 240, 240);
    transition: all 0.2s ease-out;
    padding: 10px;
    border-radius: 5px;
}

.event-card:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    transform: translate(0, -3%);
    background-color: rgb(255, 255, 255);
}

.event-card-time {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;

}

.event-card-description {
    padding: 0 10px;
    display: flex;
    align-items: center;
    width: 60%;
    text-align: left;
}

.event-card-place {
    padding: 0 10px;
    display: flex;
    align-items: center;
    text-align: left;
    width: 30%;
}

.component-fade-enter-from {
    opacity: 0;
    transform: translate(0px, -30px);
}

.component-fade-enter-active {
    transition: all 0.5s ease-out;
}

.component-fade-enter-to {
    opacity: 1;
    transform: translate(0);
}

.component-fade-leave-from {
    opacity: 1;
    transform: translate(0);
}

.component-fade-leave-to {
    opacity: 0;
    transform: translate(0px, -30px);
}

.component-fade-leave-active {
    transition: all 0.5s ease-in;
}

